# Configs y credenciales
.env
config/client_secret.json
config/token.pickle

# Archivos temporales y de ejecución
data/recordings/*/
data/iframes.json
output/iframes_clean.html
*.log
__pycache__/
*.pyc